@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: brandon-black;
  src: url(./font/BrandonText-Black.ttf);
}

@font-face {
  font-family: brandon-regular;
  src: url(./font/BrandonText-Regular.ttf);
}

@font-face {
  font-family: brandon-bold;
  src: url(./font/BrandonText-Bold.ttf);
}

#logo {
  transform: scale(1);
  transition: 0.2s ease-in;
}

#logo:hover {
  transform: scale(0.99);
}

h1 {
  text-align: center;
  font-family: brandon-black;
  font-size: 50px;
  color: #e33b6a;
  line-height: 0.8em;
}

h2 {
  font-family: brandon-black;
  color: #480ca8;
  text-align: center;
  font-size: 35px;
}

h3 {
  text-align: center;
  font-family: brandon-black;
  color: #78c0e0;
}

h4 {
  text-align: center;
  font-family: brandon-regular;
  color: #ffffff;
  font-size: 18px;
}

p {
  font-family: "Raleway", sans-serif;
}

.text-animation h1{
  animation:bounce-in 3s ease 0s 1 normal;
}

.text-animation h2{
  color: #FF9F1C;
  text-align: center;
  margin: auto;
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  animation:typing 2s steps(30) 0s 1 normal;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}



@keyframes bounce-in {
  from{ opacity: 0; transform: scale(.3); }
  25%{ opacity: 1; transform: scale(1.0); }
  30%{ transform: scale(0.9); }
  40%{ transform: scale(1); }
  to{ transform: scale(1);opacity: 1;}
  }

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex > div {
  margin: 10px;
  max-width: 500px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.main {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(228, 220, 242, 1) 5.89%,
    rgba(192, 172, 225, 1) 15.07%,
    rgba(160, 129, 210, 1) 24.77%,
    rgba(133, 93, 197, 1) 34.82%,
    rgba(111, 63, 186, 1) 45.31%,
    rgba(94, 41, 178, 1) 56.42%,
    rgba(81, 24, 172, 1) 68.4%,
    rgba(74, 15, 169, 1) 81.87%,
    rgba(72, 12, 168, 1) 100%
  );
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: -8px;
}

.main > p {
  color: #ffffff;
  width: 60%;
  margin: auto;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.upload {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 9px #20202059;
  margin-bottom: -50px;
  margin: auto;
  position: relative;
  width: 95%;
  border-radius: 5px;
}

.upload > .input > div:nth-child(3){
  border: 2px dashed #e33b6b59;
  padding: 0 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.upload > .input > div:nth-child(3):active{
  opacity: 1;
  filter: saturate(1);
}

.upload > .input > div:nth-child(3) > p{
  text-align: center;
  font-family: brandon-regular;
}

.upload > .input > div:nth-child(3) > div {
  background-color: #480ca8;
  border-radius: 10px;
  padding: 20px;
  width: 180px;
  border: 2px solid #480ca8;

}

.upload > .input > div:nth-child(3) > div:hover {
  background-color: #5a1bcf;
  border: 2px solid #06d6a0;
  
}

.upload > .input > div:nth-child(3) > div:nth-child(2) > h3{
  color: #480CA8;
  width: 100%;
}

.upload > .input > div:nth-child(3) > div:nth-child(2){
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upload > .input > div:nth-child(3) > div:nth-child(2) > input{
  background-color: #06D6A0;
  margin: 1em;
  color: #310872;
  width: 150px;
}

.upload > .input > div:nth-child(3) > div > p{
  color: white;
  text-align: center;
}

.upload > .input > div:nth-child(3) > div:last-child{
  background: none !important;
  border:none;
}

.upload > .input > div:nth-child(3) > div > button {
  font-family: brandon-bold;
  font-size: 30px;
  border: none;
  background-color: #e33b6a;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.upload > .input > div:first-child > div {
  background-image: url(img/carreras.png);
  animation: bg-animation 3s ease-in-out 0s infinite normal;
}




@keyframes bg-animation {
  0% {
    background-position-y: 6px;
    transform: translateY(-3px);
  }
  50% {
    background-position-y: -6px;
    transform: translateY(3px);
  }
  100% {
    background-position-y: 6px;
    transform: translateY(-3px);
  }
}

input {
  background-color: #310872;
  color: white;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  border: none;
  padding: 5px;
  margin: auto;
  display: block;
  width: 100px;
  font-family: brandon-bold;
}

input:focus {
  background-color: #e33b6a;
  border: none;
  outline: none;
}

.upload > .input > div:last-child > button:hover {
  background-color: #310872;
  transform: rotate(-5deg);
}

.upload > .input > div:last-child > div > p {
  text-align: center;
  color: #e33b6a;
}

.upload > .input > div:nth-child(2) {
  border-radius: 10px;
}

.upload > .input > div:nth-child(2) > label{
  width: 220px;
  height: 114px;
  background-color: #06D6A0;
  border-radius: 10px;
  display: block;
  padding: 20px;
  cursor: pointer;
  font-family: brandon-bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #310872;
  margin-top: 20px;
  animation:shake 4s ease 3s infinite normal;
}

@keyframes shake {
  0%{ transform: rotate(0deg);}
  3%{ transform: rotate(5deg); }
  6%{ transform: rotate(-10deg); }
  9%{ transform: rotate(10deg);}
  12%{ transform: rotate(-12deg);}
  15%{ transform: rotate(-10deg);}
  18%{ transform: rotate(0deg);}
}

.upload > .input > div:nth-child(2) > label:hover{
  background-color: #310872;
  color: #06d6a0;
  animation-play-state: paused;
}

.upload > .input > div:nth-child(2) > input[type=file]{
  display: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-start;
}

.results > div {
  margin-top: 50px;
}

.results > div > div {
  overflow: hidden;
  margin: 15px;
  width: 400px;
  height: 270px;
  border-radius: 15px;
}

.results > div > div > img {
  border-radius: 15px;
}


.results > div > div > div:last-child > div > h3 {
  font-family: brandon-black;
  color: rgba(255, 255, 255, 0.884);
  mix-blend-mode: overlay;
  font-size: 60px;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
}

.results > div > div > div:last-child {
  height: 270px;
  position: relative;
  top: -306px;
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
}

.results > div > div > div:last-child > div{
  background-color: #09be8eb0;
  height: 100%;
  animation:porcentaje 4s ease 0s 1 normal;
}

@keyframes porcentaje {
  0%{ height: 0%;}
  100%{ height: 100%;}
  }

.results > div > div:last-child {
  background-color: #480ca8;
  width: 380px;
  margin: auto;
  padding: 7px;
  padding-bottom: 15px;
  height: auto;
  min-height: 150px;
}

.results > div > div:last-child > ul {
  list-style: none;
  font-family: brandon-regular;
}

.results > div > div:last-child > ul > li {
  margin-left: -25px;
}

.results > div > div:last-child > ul > li::before {
  content: "👉 ";
}

.results > div > div:last-child > ul > li {
  color: white;
}

.results > div > div:last-child > ul > li i {
  color: #06d6a0;
}

.results > div > div:last-child > ul > li i::before {
  content: " ";
}

.results > div > h2 {
  max-width: 400px;
  margin: auto;
  line-height: 1em;
  font-size: 27px;
}

.another {
  background-color: #310872;
  padding: 1em;
  border-radius: 15px;
  width: 600px;
}

.another h2 {
  color: #e33b6a;
}

.another > div {
  display: none;
}

.plus {
  margin-top: 70px;
}

.plus select {
  background-color: #e33b6a;
  height: 50px;
  color: white;
  font-family: brandon-regular;
  display: block;
  margin: auto;
  text-align: center;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.plus select option {
  background-color: #480ca8;
}

.plus > div:last-child {
  background-color: #e9ebee;
  padding: 15px;
  border-radius: 15px;
}

.results select {
  background-color: #e33b6a;
  height: 50px;
  color: white;
  font-family: brandon-regular;
  display: block;
  margin: auto;
  text-align: center;
  width: 70%;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.results select option {
  background-color: #07ca96;
  font-size: 13px;
  color: #310872;
  font-family: brandon-regular;
}


#cf {
  position:relative;
  height:150px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#estrella{
  width: 120px;
  height: 24px;
  margin: auto;
  background-image: url(img/estrella.png);
  animation:estrellas 3s steps(5) 1 normal;
}

@keyframes estrellas{
  0%{width: 0px;}
  100%{width: 120px;}
}

.forms summary{
  padding: 10px;
  color: #FF9F1C;
  font-family: brandon-bold;
  cursor: pointer;
}
.forms summary:focus{
  border: none;
  background-color: #480CA8;
  outline: none;
}

.forms details{
  color: #78C0E0;
  margin-left:-30px;
  text-align: justify;
  padding-right: 15px;
}

.forms details b{
  color: #06D6A0;
}

.forms summary + li{
  border-top: 1px dashed  #06D6A0;
}

.forms hr{
  border: 1px dashed #E33B6A;
  margin-left:-30px;
}

.forms button{
  background-color: #480CA8;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: 55px;
}

.forms button p{
  text-align: center;
  color: white;
  line-height: 1px;
}

.forms button:hover{
  background-color:#310872;
}

.forms button:focus{
  background-color:#310872;
  outline: none;
}

.popup-content{
  background-color: #310872;
  padding: 15px;
  border-radius: 10px;
  box-shadow:0px 0px 10px 0px #202020 ;
  width: 500px;
}

.popup-content h3{
  color: #78C0E0;
}

.popup-content p{
  color: #ffffff;
}


.__react_modal_image__header{
  display: none;
}

.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg{
  border-radius: 15px;
}


